<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <div id="footer">
                    ©{{ '' | dateYear }} luchoH
                </div>
            </div>
        </div>
    </div>
</div>