{# Project: luchoh.com refactoring # File: frontend/src/_includes/partials/menu.njk #}
<ul class="menu right hide-on-med-and-down">
    {% for tag in tags %}
        <li>
            <a href="/tag/{{ tag.id }}/images" class="tag-link" data-tag="{{ tag.name }}">{{ tag.name }}</a>
        </li>
    {% endfor %}
    <li id="auth-menu-item">
        <a href="#" id="auth-action" class="modal-trigger" data-target="login-modal">Sign In</a>
    </li>
    <li id="sign-out-menu-item" style="display: none;">
        <a href="#" id="sign-out-action">Sign Out</a>
    </li>
    <li id="manage-menu-item" style="display: none;">
        <a href="/admin" class="content-manage">Manage</a>
    </li>
</ul>
<ul id="mobile-menu" class="sidenav">
    {% for tag in tags %}
        <li>
            <a href="/tags/{{ tag.id }}/images">{{ tag.name }}</a>
        </li>
    {% endfor %}
    <li class="divider"></li>
    <li id="auth-menu-item-mobile">
        <a href="#" id="auth-action-mobile" class="modal-trigger" data-target="login-modal">Sign In</a>
    </li>
    <li id="sign-out-menu-item-mobile" style="display: none;">
        <a href="#" id="sign-out-action-mobile">Sign Out</a>
    </li>
    <li id="manage-menu-item-mobile" style="display: none;">
        <a href="/admin" class="content-manage">Manage</a>
    </li>
</ul>