{# Project: luchoh.com refactoring # File: frontend/src/_includes/partials/site.njk #}
<div class="col s12 left-align">
    <a href="/" class="logo">
        <img src="{{ logoImage }}" alt="{{ site.name | default('luchoH Photography') }}" class="center-align responsive-img">
    </a>
</div>