<div class="row logo">
    <div class="col s12 {{ align }}-align">
        <a href="/" class="logo">
            <img src="/images/luchoh-logo-invert.png" alt="{{ site.name }}" class="center-align responsive-img">
        </a>
    </div>
</div>