# Project: luchoh.com refactoring
# File: frontend/src/_includes/partials/site.njk
<div class="logo">
    <a href="/">
        <img src="{{ logoImage }}" alt="{{ site.name | default('luchoH Photography') }}" class="responsive-img">
    </a>
</div>