/*Project: luchoh.com refactoring
File: frontend/src/css/styles.css*/
body {
    font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
    line-height: 1em;
    font-size: 8pt;
    letter-spacing: 0.05em;
}

.container, nav, footer {
    line-height: 1em;
    font-size: 8pt;
    letter-spacing: 0.05em;
}

nav {
    height: 98px;
    box-shadow: none;
}

.logo img {
    width: 100px;
    height: auto;
}

.menu {
    margin: 0;
    padding: 6px 0 0;
    list-style: none;
    font-size: 1.2em;
    text-transform: lowercase;
    float: right;
}

.menu li a {
    color: #B1B1B1;
}

.menu li a:hover,
.menu li a.active {
    color: white;
}

.menu li a.content-signin {
    color: white;
}

.divider {
    background-color: #333;
    height: 1px;
    margin-top: 10px;
}

.banner img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.image-title {
    font-size: 1.2em;
    line-height: 2em;
    color: #B1B1B1;
}

.image-description {
    font-size: 0.9em;
    color: #ccc;
}