---
layout: base.njk
pagination:
    data: galleries
    size: 1
    alias: gallery
permalink: "gallery/{{ gallery.slug }}/"
---
{# Project: luchoh.com refactoring # File: frontend/src/gallery.njk #}
<h1>{{ gallery.title }}</h1>

<div class="image-grid">
    {% for image in gallery.images %}
    <div class="image-item">
        <img src="{{ image.url }}" alt="{{ image.title }}">
        <p class="image-title">{{ image.title }}</p>
        <p class="image-description">{{ image.description }}</p>
    </div>
    {% endfor %}
</div>