---
layout: base.njk
permalink: "/galleries/"
---
{# Project: luchoh.com refactoring # File: frontend/src/galleries.njk #}

<ul id="gallery-list">
    <!-- This will be populated dynamically with JavaScript -->
</ul>