{# Project: luchoh.com refactoring # File: frontend/src/index.njk #}
{% extends "base.njk" %}
{% block content %}
    <div itemscope itemtype="http://schema.org/ImageGallery">
        <div class="row">
            <div class="col s12 center-align">
                <div class="row">
                    <div id="latest-photos" class="col s12 center-align">
                        <div class="image-grid">
                            {% for image in images %}
                                <div class="col s12 l3 m6 featured-photo">
                                    <a href="{{ image.file_path }}" data-lightbox="image-gallery" data-title="{{ image.title }}">
                                        <img src="{{ image.thumbnail_url or image.file_path }}" alt="{{ image.title }}" class="lazyload responsive-img"></a>
                                        <p class="image-title">{{ image.title }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if images.length === 0 %}
                <p>No images found. Please make sure your API is running and returning data.</p>
            {% endif %}
        </div>
    {% endblock %}
    {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"></script>
    {% endblock %}