---
layout: base.njk
pagination:
    data: tags
    size: 1
    alias: tag
permalink: "tag/{{ tag.name }}/"
---
{# Project: luchoh.com refactoring # File: frontend/src/tag.njk #}
<h1>{{ tag.name }}</h1>

<div class="image-grid">
    {% for image in tag.images %}
    <div class="image-item">
        <img src="{{ image.url }}" alt="{{ image.title }}">
        <p class="image-title">{{ image.title }}</p>
        <p class="image-description">{{ image.description }}</p>
    </div>
    {% endfor %}
</div>