{# Project: luchoh.com refactoring # File: frontend/src/tag.njk #}
{% extends "base.njk" %}
{% block content %}
    <h1>{{ tag.name }}</h1>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div id="image-list" class="image-grid">
                    {% for image in images %}
                        <div class="col s12 m6 l3 featured-photo">
                            <div class="image index" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="/image/{{ image.id }}-{{ image.slug }}" data-lightbox="image-gallery" data-title="{{ image.title }}">
                                    <img src="{{ image.thumbnail_url or image.file_path }}" alt="{{ image.title }}" class="responsive-img" itemprop="thumbnail"></a>
                                    <div class="window title">
                                        <h3 class="image-title" itemprop="name">{{ image.title }}</h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}