---
layout: base.njk
permalink: "/tags/"
---
{# Project: luchoh.com refactoring # File: frontend/src/tags.njk #}

<ul id="tag-list">
    <!-- This will be populated dynamically with JavaScript -->
</ul>