{# Project: luchoh.com refactoring # File: frontend/src/_includes/base.njk #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {% endif %}luchoH Photography</title>
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="hiddendiv common"></div>
    <div id="gallery" class="grey darken-4">
        <header>
            {% include "partials/header.njk" %}
        </header>

        {{ content | safe }}

        <footer>
            {% include "partials/footer.njk" %}
        </footer>

        <script src="/js/materialize.min.js"></script>
        <script src="/js/main.js"></script>
    </div>
</body>
</html>