<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {% endif %}luchoH Photography</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="{{ logoImage }}" alt="luchoH"></a>
        </div>
        <nav>
            <ul>
                {% for gallery in galleries %}
                <li><a href="/gallery/{{ gallery.slug }}">{{ gallery.title | lower }}</a></li>
                {% endfor %}
                <li><a href="http://localhost:8000/admin">sign in</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <p>&copy; {{ '' | dateYear }} luchoH Photography</p>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>